.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  /* align-items: center; */
  flex: 1 0 0;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-default, #fff);
}

.logo {
  color: var(--gray-900, #111827);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: -0.6px;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b5563;
  cursor: pointer;
}

.icon {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--gray-default, #fff);
  border: none;
}

.cv {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--gray-900, #111827);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.hero {
  display: flex;
  padding: 96px 80px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.intro {
  display: flex;
  padding: 0px 32px;
  align-items: flex-start;
  gap: 48px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.description {
  display: flex;
  max-width: 768px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.work {
  display: flex;
  align-items: center;
  gap: 10px;
}
.work div {
  width: 8px;
  height: 8px;
  background-color: #10b981;
  border-radius: 20px;
}

.tag {
  padding: 4px 20px;
  background-color: #6b6f75;
  border-radius: 12px;
  color: white;
}
